# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Config files
*.json

# Build artifacts
build/
dist/
*.AppImage

# Pip cache
pip-wheel-metadata/
*.dist-info/

# Misc
*.log
